version: 2.1
executors:
  node14-executor:
    docker:
      - image: node:14-alpine3.16

jobs:
  build:
    executor: node14-executor
    steps:
      - checkout
      - run: |
          npm install
          npm build
  test:
    executor: node14-executor
    steps:
      - checkout
      - run: |
          npm install
          npm run test

workflows:
  push-workflow:
    jobs:
      - build
      - test
